<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="sidebar">
    <nav>
      <ul>
        <li><a href="#" class="nav-active"><i class="fa fa-fw fa-tachometer"></i> <span>Inicio</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-list-alt"></i> <span>Entradas</span></a>
          <ul>
            <li><a href="#">Nueva entrada</a></li>
            <li><a href="#">Ver entradas</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-fw fa-paint-brush"></i> <span>Diseño</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-puzzle-piece"></i> <span>Addons</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-cog"></i> <span>Ajustes</span></a></li>
        <li><a href="#" class="colapsar"><i class="fa fa-fw fa-chevron-circle-left"></i> <span>Colapsar</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
      </div>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
